<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.microservice.provider.dao.UserDao">

	<insert id="addUser">
		insert into tb_user(user_name,real_name)
		values(#{user_name},#{real_name})
	</insert>
	<select id="findUser"
		resultType="com.neusoft.microservice.beans.User">
		select * from tb_user where id=#{id}
	</select>
	<select id="selectList"
		resultType="com.neusoft.microservice.beans.User">
		select * from tb_user
	</select>
</mapper>
 

